<div class="container pt-5">
  <div class="row m-0">
    <div class="col-12">
      <h1>Employee Details</h1>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-12 col-md-6 col-lg-6">
      <label for="eid">ID</label>
      <input type="text" class="form-control" id="eid" [(ngModel)]="employee.eid">
    </div>
    <div class="col-12 col-md-6 col-lg-6">
      <label for="emp">Name</label>
      <input type="text" class="form-control" id="emp" [(ngModel)]="employee.name">
    </div>
  </div>
  <div class="row m-0">
    <div class="col-12 col-md-6 col-lg-6">
      <label for="no">Contact No</label>
      <input type="text" class="form-control" id="no" [(ngModel)]="employee.contactno">
    </div>
    <div class="col-12 col-md-6 col-lg-6">
      <label for="add">Address</label>
      <input type="text" class="form-control" id="add" [(ngModel)]="employee.address">
    </div>
  </div>

  <div class="row m-0 pt-5">
    <div class="col-12 col-md-12 col-lg-12">
      <button type="button" class="btn btn-success mr-2" (click)="onSave()">Save</button>
      <button type="button" class="btn btn-secondary" (click)="onCancle()">Cancle</button>
    </div>
  </div>
</div>